p {
    background-color: salmon;
}

.p2 {
    font-size: 32px;
}

#div1 {
    color: blue;
    font-size: 40px;

}

#div2 {
    background-color: lightgreen;
    font-weight: bold;
    font-size: 32px;
}