@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul{
  list-style-type: none;
  display: flex;
  gap: 12px;
  padding-left: 8px;
  margin-right: 8px;

}



body{
  display: flex;
  flex-direction: column;

}


a {
  text-decoration: none;
  color: black;
}
.header {
display: flex;

  
  
  
}


.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}


button {
  padding: 8px;
}


.footer {
  display: flex;
  margin-top: auto;
  background-color: #eeeeee;
  
}



.left-links{
  display: flex;
  gap: 8px;
 
}

.right-links {
  display: flex;
  margin-left: auto;
  gap: 8px;
  margin-right: 2%;
  

}