body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 30px;
  font-weight: 900;

  display: flex;
  align-items: center;

  padding-left: 16px;

  
}

.content{
  display: flex;
  margin-bottom: auto;
  flex-grow: 1;
  
  


}


.cardContainer{
  display: flex;
  flex-direction: column;

  margin-left: 32px;
  margin-top: 40px;
  
  flex-grow: 1;
  flex-wrap: wrap-reverse;
  
}

.cardTop{
  display: flex;
  
}


.cardBottom{
  display: flex;
  margin-top: 32px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 32px;


  width: 250px;
  height: 250px;

  margin-right: 32px;

  text-wrap: wrap;
  display: flex;
}












.sidebar {
  width: 300px;
  background: royalblue;
  align-items: flex-start;


}

.sidebar ul{
  display: flex;
  flex-direction: column;
  
  list-style-type: none;

  padding-left: 12px;

  


  
}




.sidebar a {
  text-decoration: none;
  color: white;

  font-size: 24px;
 
}

.sidebar li{
  padding-top: 5px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  margin-top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  
  

}





